.checkout-container {
    display: flex;
    margin: 20px auto;
    gap: 20px;
  }
  .main-container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .checkout-container .checkout-form,
  .checkout-container .order-summary {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .checkout-container .checkout-form {
    flex: 1;
    background-color: #f8f8f8;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .checkout-container .checkout-form .section {
    padding-bottom: 15px;
  }
  
  .checkout-container .checkout-form .section h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .checkout-container .checkout-form .section .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
  }
  
  .checkout-container .checkout-form .section .input-field:focus {
    border-color: linear-gradient(to right, #f53d2d, #ff6633);
    box-shadow: 0 0 6px linear-gradient(to right, #f53d2d, #ff6633);
  }
  
  .checkout-container .checkout-form .section .checkbox-group {
    display: flex;
    margin-left: -19px;
  }
  
  .checkout-container .checkout-form .section .checkbox-group label {
    margin-left: -13px;
  }
  
  .checkout-container .checkout-form .section .location-fields {
    display: flex;
    gap: 10px;
  }
  
  .checkout-container .checkout-form .section .location-fields .select-wrapper {
    position: relative;
    flex: 1;
  }
  
  .checkout-container
    .checkout-form
    .section
    .location-fields
    .select-wrapper
    .input-field {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    color: #333;
    appearance: none;
    opacity: 0.99;
  }
  
  .checkout-container
    .checkout-form
    .section
    .location-fields
    .select-wrapper
    .input-field:focus {
    border-color: linear-gradient(to right, #f53d2d, #ff6633);
    box-shadow: 0 0 6px linear-gradient(to right, #f53d2d, #ff6633);
    outline: none;
  }
  
  .checkout-container
    .checkout-form
    .section
    .location-fields
    .select-wrapper::after {
    content: "▼";
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 10px;
    top: 38%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .checkout-container .checkout-form .section .detailed-address {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
  }
  
  .checkout-container .checkout-form .section .detailed-address:focus {
    border-color: linear-gradient(to right, #f53d2d, #ff6633);
    box-shadow: 0 0 6px linear-gradient(to right, #f53d2d, #ff6633);
  }
  
  .checkout-container .checkout-form .section .radio-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .checkout-container .checkout-form .section .radio-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
    gap: 10px;
    padding: 10px 15px;
    width: 100%;
    background-color: #ffffff;
  }
  
  .checkout-container .checkout-form .section .radio-group label:first-of-type {
    border-bottom: 1px solid #ddd;
    background-color: rgb(238, 245, 240);
  }
  
  .checkout-container .checkout-form .section .radio-group label:hover {
    background-color: rgb(238, 245, 240);
  }
  
  .checkout-container
    .checkout-form
    .section
    .radio-group
    label
    input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid linear-gradient(to right, #f53d2d, #ff6633);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .checkout-container
    .checkout-form
    .section
    .radio-group
    label
    input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: linear-gradient(to right, #f53d2d, #ff6633);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkout-container .checkout-form .section .radio-group label .icon {
    margin-left: auto;
    font-size: 18px;
    color: linear-gradient(to right, #f53d2d, #ff6633);
  }
  
  .checkout-container .checkout-form .section .radio-group label .price-label {
    margin-left: auto;
    font-weight: 400;
    color: #000;
  }
  
  .checkout-container .checkout-form .section .payment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
  }
  
  .checkout-container .checkout-form .section .payment-option:last-child {
    border-bottom: none;
  }
  
  .checkout-container .checkout-form .section .payment-option:hover {
    background-color: rgb(238, 245, 240);
  }
  
  .checkout-container
    .checkout-form
    .section
    .payment-option
    input[type="radio"]:checked
    + label {
    background-color: rgb(238, 245, 240);
    font-weight: bold;
    color: #000;
  }
  
  .checkout-container
    .checkout-form
    .section
    .payment-option
    input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid linear-gradient(to right, #f53d2d, #ff6633);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .checkout-container
    .checkout-form
    .section
    .payment-option
    input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: linear-gradient(to right, #f53d2d, #ff6633);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkout-container .checkout-form .section .payment-option label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
    flex-grow: 1;
  }
  
  .checkout-container .checkout-form .section .payment-option .price-label {
    font-weight: bold;
    color: #000;
  }
  
  .checkout-container .checkout-form .btn-primary {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: linear-gradient(to right, #f53d2d, #ff6633);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .checkout-container .checkout-form .btn-primary:hover {
    opacity: 0.9;
  }
  
  .checkout-container .order-summary {
    flex: 1;
    position: sticky;
    top: 20px;
    align-self: start;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .checkout-container .order-summary h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .checkout-container .order-summary .summary-item {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
  }
  
  .checkout-container .order-summary .summary-item .product-image {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .checkout-container .order-summary .summary-item .product-details {
    flex-grow: 1;
  }
  
  .checkout-container
    .order-summary
    .summary-item
    .product-details
    .product-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    max-width: 300px;
    margin-bottom: 5px;
  }
  
  .checkout-container
    .order-summary
    .summary-item
    .product-details
    .product-origin {
    font-size: 12px;
    color: #666;
  }
  
  .checkout-container .order-summary .summary-item .product-price {
    font-size: 14px;
    font-weight: 480;
    color: #333;
    text-align: right;
  }
  
  .checkout-container .order-summary .voucher-section {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .checkout-container .order-summary .voucher-section input[type="text"] {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .checkout-container .order-summary .voucher-section .apply-btn {
    padding: 10px 15px;
    background-color: linear-gradient(to right, #f53d2d, #ff6633);
    color: #fff;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .checkout-container .order-summary .voucher-section .apply-btn:hover {
    opacity: 0.9;
  }
  
  .checkout-container .order-summary .subtotal-section,
  .checkout-container .order-summary .shipping-section,
  .checkout-container .order-summary .total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 450;
  }
  
  .checkout-container .order-summary .total-section .order-summary-text-sum {
    font-size: 2.6rem !important;
    font-weight: 500;
  }
  
  .checkout-container .order-summary .subtotal-section .subtotal-text,
  .checkout-container .order-summary .shipping-section .shipping-text,
  .checkout-container .order-summary .total-section .total-text {
    color: #666;
  }
  
  .checkout-container .order-summary .subtotal-section .subtotal-price,
  .checkout-container .order-summary .shipping-section .shipping-fee,
  .checkout-container .order-summary .total-section .total-price {
    color: #333;
  }
  
  .checkout-container .order-summary .total-section .total-price {
    font-size: 18px;
    color: #333;
  }
  
  .checkout-container .order-summary .trantrantranokokokok {
    opacity: 0.8;
  }
  
  .checkout-container .order-summary .tax-info {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  